boto3==1.10.2
botocore==1.13.2
Click==7.0
docutils==0.15.2
fastapi==0.42.0
h11==0.8.1
httptools==0.0.13
jmespath==0.9.4
pydantic==0.32.2
PyMySQL==0.9.3
python-dateutil==2.8.0
s3transfer==0.2.1
six==1.12.0
starlette==0.12.9
urllib3==1.25.6
uvicorn==0.9.1
uvloop==0.13.0
websockets==8.0.2
